.catalog__filter-wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.catalog__filter-container {
    //position: relative;
    width: 100%;
    display: flex;
    justify-content:  space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 15px;
}

.filter-item {
    width: 250px;
    height: 30px;
    position: relative;
}

.catalog__filter-details {
    width: 100%;
    font-size: 14px;
    caret-color: transparent;
    position: absolute;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0px 0px #777777, inset 0 0 3px #777777;
    border-radius: 4px;
    display: inline-flex;
    flex-direction: column;
    padding: 6px 12px;
    color: var(--text-color-dark);
    transition: .1s;

    &:hover {
        box-shadow: 0 0px 0px var(--green), inset 0 0 3px var(--green);
    }

}

.catalog__filter-details summary {
    display: flex;
    justify-content: space-between;
}

.catalog__filter-details[open] {
    z-index: 15;
}

.catalog__filter-details summary::marker {
    display: none;
    font-size: 0;
    color: var(--green);
}

.catalog__filter-details summary::-webkit-details-marker {
    display: none;
    font-size: 0;
}

.catalog__filter-details summary::after {
    content: "\25BC" / "";
    color: var(--green);
    display: inline-block;
    font-size: 1rem;
    height: 1rem;
    line-height: 1rem;
    margin-left: 0.5rem;
    position: relative;
    transition: transform 0.25s;
}

.catalog__filter-details[open] summary {
    margin-bottom: 1rem;
}

.catalog__filter-details[open] summary::after {
    top: -0.15rem;
    transform: rotate(180deg);
}


.second-list {
    border: 1px solid #767676;
    border-radius: 3px;
    display: inline-flex;
    flex-direction: column;
    padding: 3px 6px;
}


.second-list summary::marker {
    display: none;
    font-size: 0;
}

.second-list summary::-webkit-details-marker {
    display: none;
    font-size: 0;
}

.second-list summary::after {
    content: "\25BC" / "";
    display: inline-block;
    font-size: 0.6rem;
    height: 1rem;
    line-height: 1rem;
    margin-left: 0.5rem;
    position: relative;
    transition: transform 0.25s;
}

//.second-list[open] summary {
//    margin-bottom: 1rem;
//}
//
//.second-list[open] summary::after {
//    top: -0.15rem;
//    transform: rotate(180deg);
//}


.filter-el {
    border: 0;
    padding: 0;
    width: 100%;
}

.filter-el legend {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.filter-el ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter-el ul li {
    border-radius: 3px;
    margin: 0;
    padding: 4px 2px;
}

.filter-el ul li:hover {
    background: #eee;
}

.filter-el ul li label {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.catalog__filer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.catalog__filer-btn {
    width: 250px;
    height: 22px;
    font-size: 14px;
}
