.header {
    position: relative;
    background-color: var(--black);
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;

    @media (max-width: 768px) {
        height: 70px;
    }


}

.header__logo {
    max-width: 130px;

    @media  (max-width: 768px) {
        max-width: 110px;
    }

    img {

        height: auto;
    }
}

.header__contacts {
    display: flex;
    align-items: center;
    font-size: var(--base-font-size);
    justify-content: space-between;
    gap: 15px;
    width: 700px;
    margin: 0 15px;

    @media(max-width: 768px) {
        margin: 0 3px;
    }

    li {
        &:not(:last-child) {
            display: flex;
            align-items: center;
            @media (max-width: 998px) {
                display: none;
            }

            img {
                height: 22px;
                margin-right: 10px;
            }
        }
    }

    @media (max-width: 998px) {
        width: auto;
        justify-content: center;
    }

}

.phone {
    font-size: var(--base-font-size);
    color: var(--white);
    line-height: 140%;

    span {
        display: block;
        font-size: var(--base-font-size);
        color: var(--green);
        text-decoration: underline;
        text-underline-offset: 4px;
        transition: .3s ease-in-out;

        &:hover {
            color: var(--white);
        }

        @media (max-width: 768px) {
            display: none;
        }

    }


}

.header__phone {
    @media(max-width: 768px) {
        //display: none;

    }
}

.header__shop-menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 3px;

    @media (max-width: 768px) {
        display: none;
    }

}

.header__shop-menu {
    display: flex;
    margin: 5px 0;
}

.shop-menu__item {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    //border-radius: 5px;
    background-color: #3B3B3B;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 1px 5px #777777, inset 0 0 0px #777777;
    transition: .1s;

    &:active {
        box-shadow: 0 0px 0px #777777, inset 0 0 10px #777777;
        transform: scale(0.99);
    }

    &:hover {
        transition: .1s;
        background-color: var(--green-dark);
    }

    .active {
        transition: .1s;
        background-color: var(--green-dark);
    }

    svg {
        display: flex;
        align-items: center;
    }

    &:not(:last-child) {
        margin-right: 8px;
    }

    span {
        background-color: var(--green-dark);
        transition: .1s;
    }

    :hover span {
        background-color: var(--gray-dark);
        transition: .1s;
    }

    @media (max-width: 998px) {
        //width: 45px;
        //height: 45px;
        background-color: transparent;
        box-shadow: none;

        span {
            font-size: 10px;
        }

        &:not(:last-child) {
            margin-right: 3px;
        }

    }

}

.shop-menu__item-phone {
    display: none;
    @media(max-width: 768px) {
        display: flex;
    }
}

.quantity {
    position: absolute;
    padding: 4px 6px;
    top: 35%;
    left: 76%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: var(--white);
    background-color: var(--green-dark);
    border-radius: 20px;
}

.shop-menu__favorites-link {
    position: relative;
}

.shop-menu__cart-link {
    position: relative;
}

.shop-menu__user-info {
    color: var(--mustard);
}

.shop-menu__links {
    color: var(--text-color);
    line-height: 130%;
}

.header__bottom {
    background-color: var(--black-dark);

    @media  (max-width: 768px) {
        display: none;
    }

}

.header__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    @media(max-width: 988px) {
        justify-content: space-around;
    }

}

.header__dropdown-menu {
    @media (max-width: 998px) {
        display: none;
    }
}

.header__nav {
    width: 400px;
    margin: 0 20px;

    @media(max-width: 988px) {
        display: none;
    }

}

.nav__list {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    a {
        color: var(--white);
        position: relative;
        pointer-events: all;

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            background-color: var(--green-dark);
            bottom: -4px;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 0.1s ease-in-out;
        }

        &:hover::before {
            transform-origin: left;
            transform: scaleX(1);
        }

    }
}

.header__social {
    margin-right: 10px;

}

.header__mobile-nav-btn {
    margin-left: 12px;
}

//BUTTON CONTACT US
.btn-contact-us__wrap{
    position: fixed;
    bottom: 60px;
    right: 40px;
    width: 50px; height: 50px;
    display: flex; justify-content: center;
    align-items: center;
    z-index: 99;

    @media (max-width:768px) {
        bottom: 40px;
        right: 20px;
    }
}

.btn-contact-us__list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50px; height: 50px;
    position: absolute; background-color: var(--black);
    border-radius: 50%; transition: all 0.5s ease;
    box-shadow: 3px 5px 10px rgba(23, 22, 36, 0.4);
    overflow: hidden;
}

.btn-contact-us__list li {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; color: #fff;
    text-transform: uppercase; width: 100%;
    margin: auto 0; 
    justify-content: start; flex-direction: row;
    padding: 0px 0 0px 20px;
    cursor: pointer;
    border-radius: 4px;


}

.btn-contact-us__list li a {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

    &:hover {
        color: var(--green);
    }
}

.btn-contact-us__list li svg{
    border-radius: 4px;
    width: 30px; height: 30px;
    margin-right: 10px; transition: all 0.3s ease 1s;;
}

// .share-link li img{
//     width: 18px; height: 18px;
//     margin-right: 10px; transition: all 0.3s ease 1s;
// }
.btn-contact-us__list.active li:nth-child(1){
    transition: all 0.3s ease 0.8s;
}
.btn-contact-us__list.active li:nth-child(2){
    transition: all 0.3s ease 1s;
}
.btn-contact-us__list.active li:nth-child(3){
    transition: all 0.3s ease 1.2s;
}
.btn-contact-us__list.active li:nth-child(4){
    transition: all 0.3s ease 1.4s;
}

.btn-contact-us__list.active li {
    transition: all 0.5s ease 0.7s;
    opacity: 1; font-size: 13.5px;
}
.btn-contact-us__list.active {
    width: 300px; height: 140px;
    border-radius: 4px; transform: translate(-70%, -100%);
    transition: all 0.5s ease 0.4s; padding: 10px 0;


    @media (max-width: 768px) {
        transform: translate(-40%, -115%);
    }
}
.btn-contact-us__btn{
    width: 70px; height: 70px;
    overflow: hidden; background-color: #397345;
    border-radius: 50%; display: flex;
    justify-content: center; align-items: center;
    cursor: pointer; position: absolute;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 0px 45px 17px rgba(99,159,111, 0.7);

 
    @media (max-width: 768px) {
        width: 50px; height: 50px;
    }
}
.btn-contact-us__btn .send{
    width: 50%;
    margin-top: 2px;
    margin-right: 2px; position: absolute;
    transition: transform 0.3s ease;
    transition-delay: 0.2s;
    animation: sendback 0.3s ease-in-out 0.5s;
}
.btn-contact-us__btn .close{
    width: 60%; position: absolute;
    transform: scale(0);
    animation: rotate-reverse 0.4s ease;
}
.btn-contact-us__btn.active {
    transition-delay: 0.3s;
    transform: translate(0%, -100%);
}
.btn-contact-us__btn.active .send{
    transition-delay: 0.5s;
    transform: translate(110%,-110%);
}
.btn-contact-us__btn.active .close{
    transform: scale(1);
    transition-delay: 0.7s;
    animation: rotate 0.3s ease 0.7s;
}
@keyframes rotate{
    0%{  
        transform: rotate(0deg) scale(0); 
    }

    100%{  
        transform: rotate(90deg) scale(1);  
    }
}
@keyframes rotate-reverse{
    0%{  
        transform: rotate(0deg) scale(1);  
    }
    100%{  
        transform: rotate(-90deg) scale(0); 
    }
}


















