.lk__title {
  //margin-left: 35px;
  font-size: 38px;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    font-size:  24px;
  }
}


.lk__container {
  display: flex;
  gap: 40px;

  @media (max-width: 520px) {
    flex-direction: column;
    align-items: center;
  }

}

.title-form {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--text-color-dark);
}

.user-form label {
  font-size: 12px;
  color: #8A8A8A;
  font-weight: 600;
}

.user-data__title {
  margin-bottom: 20px;
}

.user-data__form-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  //flex-wrap: wrap;

  @media  (max-width: 998px) {
    flex-direction: column;
    align-items: center;
  }


}

.user-data {
  color: black;
  padding: 20px;
  width: 100%;
  //background-color: #f9f9f9;
  border-radius: 5px;
  //box-shadow: 0 3px 5px #777777, inset 0 0 0px #777777;
}

.user-data input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 5px 5px 0;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.user-data__form {
  width: 100%;
  max-width: 400px;
}



input[type="checkbox"] {
  max-width: 30px;
}