.news-detail__picture {
    margin-bottom: 20px;
}

.news-detail__wrapper {
  margin-top: 40px;
}

.news-detail__wrapper {
  max-width: 990px;
}

.news-detail__txt p {
  color: var(--text-color-dark);
  text-align: justify;
    line-height: 130%;
margin-bottom: 10px;
}

.news-detail__txt p a {
    color: var(--green-dark);
    font-weight: 600;
    text-decoration: underline;
    transition: .3s;

    &:hover {
        color: var(--green);
    }
}

.news-detail__date {
  display: block;
  color: var(--gray);
  margin-bottom: 20px
}

.news-detail__link {
    @media(max-width: 720px) {
        width: 100%;
    }
}

