.product-detail__content {
  position: relative;
  display: flex;
  justify-content: space-around;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }

}

.product-detail__logo {
  position: absolute;
}

.product-detail__desc {
  max-width: 390px;
  color: var(--text-color-dark);

  @media (max-width: 768px) {
    font-size: 14px;
  }

}

.product-detail__title {
  font-size: 30px;
  margin-bottom: 5px;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.product-detail__status {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--green-dark);
  margin-bottom: 15px;

  @media (max-width: 768px) {
    font-size: 14px;
  }

}

.product-detail__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    font-size: 14px;
  }

}

.product-detail__facing {
  display: inline-block;
  font-weight: 500;
  color: var(--green-dark);
  margin-bottom: 10px;
}

.product-detail__price-container {
  //display: flex;
  margin-top: 25px;
  @media (max-width: 768px) {
    font-size: 22px;
    display: flex;
    //flex-direction: column;
    align-items: end;
    justify-content: center;
  }

}

.product-detail__price {
  font-weight: 500;
  font-size: 30px;
  line-height: 107%;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 22px;
  }


}

.product-detail__price-old {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-decoration: line-through;
  text-align: center;
  vertical-align: bottom;
  color: #8a8a8a;


  @media (max-width: 768px) {
    font-size: 14px;
  }

}

.product-detail__btns-container {
  margin-top: 15px;
  display: flex;
  gap: 25px;


  @media (max-width: 768px) {
    justify-content: center;
  }

}

.product-detail__btn-add-to-cart {

  @media (max-width: 768px) {
    width: 150px;
    height: 30px;
    font-size: 14px;
  }

}


.product-detail__btn-add-to-fav {
  display: flex;
  align-items: center;

  svg  {
    width: 34px;
    height: 30px;

    @media (max-width: 768px) {
      height: 22px;
    }

  }

  svg path {
    transition-property: all;
    transition: .1s ease-in-out;
    stroke: #8a8a8a;
  }

  &:hover svg path {
    transition-property: all;
    transition: .1s ease-in-out;
    stroke: red;
  }
}

.product-detail__slider-wrapper {
  width: 520px;
  overflow: hidden;

  @media (max-width: 768px) {
    width: 391px;
  }

  @media (max-width: 419px) {
    width: 331px;
  }

}


.product-detail__slider-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-detail__slider-thumb img {
  height: 60px;
  width: 60px;
}


.product-detail__thumbnails .keen-slider__slide {
  font-size: 30px;
  margin-top: 10px;
  height: 90px;
}
.product-detail__thumbnails .keen-slider__slide {
  cursor: pointer;
}
.product-detail__thumbnails .keen-slider__slide.active {
  //border: 1px solid var(--green-dark);
  border-radius: 5px;
  box-shadow: 0 0px 0px #777777, inset 0 0 5px #777777;
}

.product-detail__tabs {
  color: var(--text-color-dark);
}


.product-detail__params {
  display: flex;
  flex-wrap: wrap;
}

.product-params__table {
  max-width: 450px;
  width: 100%;
  font-size: 16px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}


.product-params__cell-title {
  width: 50%;
  color: var(--text-color-dark);
  font-weight: 600;
  text-align: left;
  vertical-align: top;
  //padding: 4px 0;
}

.product-params__cell-decor {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
}

.product-params__cell-decor span {
  padding-right: 5px;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.product-params__cell-decor::after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0;
  bottom: 5px;
  border-bottom: 1px dashed #d3d4dd;
}

.product-params__cell-value {
  width: 50%;
  padding-left: 5px;
  vertical-align: bottom;
}

.product-params__cell-value span {
  word-break: break-word;
}




.product-detail__delivery-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
  margin-top: 30px;

  @media (max-width: 998px) {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;

  }

  @media (max-width: 520px) {
    flex-direction: column;
    row-gap: 15px;
  }

}

.delivery-list__item {
  max-width: 276px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 12px;
  padding: 8px;
  border: 1px solid #8a8a8a;
  border-radius: 5px;

  img {

    @media (max-width: 768px) {
      width: 34px;
      height: 30px;
    }
  }
}


.product-detail__comments {
  display: grid;
  grid-template-columns: repeat(2, calc(100% / 2 - 20px / 2 * (2 - 1)));
  column-gap: 20px;
  row-gap: 40px;
  place-content: center;


  @media (max-width: 768px) {
    grid-column-gap: 8px;
    grid-template-columns: repeat(1,  100%);
    justify-content: center;
    align-items: center;
    place-content: center;
    align-self: center;
    row-gap: 24px;
  }
}



.product-detail__tabs {
  margin-top: 40px;
}

[data-tab-component] {
  max-width: 1060px;


  // Tab navigation
  [role="tablist"] {
    margin-bottom: 0;
    padding-left: 0;
    text-align: center;


    @media (min-width: 568px) {
      display: flex;
    }
  }

  // Tab navigation items
  [role="presentation"] {
    flex: 1;
    list-style-type: none;
  }

  // Tab navigation links
  [role="tab"]{
    margin: 0 auto;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--text-color-dark);
    cursor: pointer;
    font-size: 1rem;
    height: 100%;
    justify-content: center;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    transition: background-color 150ms;
    width: 100%;
    border-radius: 5px;


    &:hover {
      background-color: #f9f9f9;
      color:black;

    }

    // Modifiers
    &[aria-selected="true"] {
      background-color: #e8e8e8;
      color:var(--green-dark);
      font-weight: 600;
    }

    @media (max-width: 768px) {
      max-width: 300px;
    }


  }

  // Tab panels
  [role="tabpanel"] {
    //background-color: lightcoral;
    //padding: 30px;
    font-size: 16px;
    padding-top: 30px;
    line-height: 150%;
    color: var(--text-color-dark);

    &[aria-hidden="true"] {
      display: none;
    }

    @media (max-width: 768px) {
      font-size: 14px;
      //padding: 5px;
    }


  }
}