.top-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.top-slider__line {
  display: flex;
  //align-items: center;
  transition: all 1s;
}

.top-slider__img {
  width: 100%;
  //height: 100%;
  object-fit: fill;
}

.slider__btn-prev{
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  font-size: 30px;

  color: rgba(255, 255, 255, 0.849);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.849);
  line-height: 1;
}

.slider__btn-next{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;

  color: rgba(255, 255, 255, 0.849);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.849);
  line-height: 1;
}

.slider__btn-prev:hover, .slider__btn-next:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.541);
}

.slider__pagination{
  display: flex;
  column-gap: 10px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.slider__dot{
  width: 16px;
  height: 16px;
  border: 1px solid #524336;
}

.slider__dot:hover {
  background-color: #BB8C5F;
}

.active-dot {
  background-color: #BB8C5F;
}

.slider__btn-next img, .slider__btn-prev img {
  width: 50px;
}

@media (max-width: 850px) {

  .slider__btn-next img, .slider__btn-prev img {
    width: calc(20px + (50 - 20) * ((100vw - 320px) / (850 - 320)));

    /* 50 - макс. ширина, которая нам нужна;
    20, 20px - мин. ширина, которая нам нужна;
    100vw - полная ширина экрана;
    320, 320px - мин. разрешение до которого будет уменьш. наше свойство;
    850 - разрешение экрана, с которого начинает ужиматься наш slider; */
  }

  .slider__dot {
    width: calc(10px + (16 - 10) * ((100vw - 320px) / (850 - 320)));
    height: calc(10px + (16 - 10) * ((100vw - 320px) / (850 - 320)));
  }

  .slider__wrapper{
    column-gap: calc(5px + (10 - 5) * ((100vw - 320px) / (850 - 320)));
  }
}