:root {
	--container-width: 1320px;
	--container-padding: 10px;

	--font-main: 'Raleway', sans-serif;
	--base-font-size: 16px;

	/*COLORS*/
	--black-dark: #111111;
	--black: #212526;
	--green-dark: #397345;
	--green: #639F6F;
	--red: #dc3434;
	--mustard: #CEAE64;
	--white: #ffffff;
	--gray-dark:#3b3b3b;
	--page-bg: #fff;
	--text-color: #FFFFFF;
	--text-color-dark: #4E4C4C;
	--blackout: rgba(0, 0, 0, 0.15);



    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}
/*
.dark {
    --page-bg: #252526;
    --text-color: #fff;
}*/